.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100vh;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 80rem;
  margin-left: -1rem;
  background-image: url(Imagem-fundo.png);
  padding: 5rem;
}
.content img {
  width: 15rem;
}
h1 {
  font-size: 6.5rem;
  color: white;
  font-family: 'outfit', sans-serif;
}
.login-area h1 {
  color: rgb(63, 63, 63);
  font-size: 3rem;
  margin-top: 4rem;
  margin-bottom: 20rem;
  font-family: 'outfit', sans-serif;
}
.login-area p {
  color: rgb(63, 63, 63);
  margin-top: -20rem;
  margin-bottom: 3rem;
  font-family: 'outfit', sans-serif;
}
.login-area {
  color: rgb(63, 63, 63);
  font-family: 'outfit', sans-serif;
  padding: 15rem;
}
form {
  text-align: start;
  color: rgb(63, 63, 63);
}
form label {
  display: block;
}
form input {
  display: block;
  margin-bottom: 3.5rem;
  margin-top: 0.5rem;
  width: 25rem;
  height: 2.4rem;
  border-radius: 0.4rem;
  border-width: 0.5px;
  border-color: rgb(63, 63, 63);
}
.login-button {
  color: white;
  background-color: rgb(134, 82, 255);
  font-weight: 600;
}
@media only screen and (max-width: 600px) {
  .content {
    display: none;
  }
  .login-area {
    padding: 3rem;
    margin-top: 2rem;
    border: 0rem;

  }
}
